.n-wrapper {
  display: flex;
}

.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.n-list>ul {
  display: flex;
  gap: 2rem;
}

.n-list>ul :hover {
  color: var(--orange);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}